@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* max-width: 1280px;
    margin: 0 auto;
    font-family: "Fira Sans", serif;
    font-style: normal; */
    background-color: #F5F5F5;
}

header,
main {
    max-width: 1280px;
    margin: 0 auto;
    font-family: "Fira Sans", serif;
    font-style: normal;
}

/* shared styles */

.text-center{
    text-align: center;
}
.section-heading {
    font-size: 40px;
    margin-bottom: 32px;
}

.section-info{
    margin-bottom: 32px;
}

.btn-secondary {
    background-color: transparent;
    color: #006A50;
    border: 1px solid #006A50;
    padding: 15px 30px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

.btn-secondary:hover {
    border: 1px solid #006A50;
    background-color: #006A50;
    color: #ffffff;
}

.btn-primary {
    background-color: #006A50;
    color: #ffffff;
    padding: 15px 30px;
    border: 1px solid #006A50;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: transparent;
    border: 1px solid #006A50;
    color: #006A50;
}

.btn-1 {
    background-color: #5490F5;
    color: #ffffff;
    padding: 15px 30px;
    border: 1px solid #5490F5;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
}

.btn-1:hover {
    background-color: transparent;
    border: 1px solid #5490F5;
    color: #5490F5;
}

.btn-2 {
    background-color: #09A15C;
    color: #ffffff;
    padding: 15px 30px;
    border: 1px solid #09A15C;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
}

.btn-2:hover {
    background-color: transparent;
    border: 1px solid #09A15C;
    color: #09A15C;
}

.btn-3 {
    background-color: #FFC239;
    color: #ffffff;
    padding: 15px 30px;
    border: 1px solid #FFC239;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
}

.btn-3:hover {
    background-color: transparent;
    border: 1px solid #FFC239;
    color: #FFC239;
}

/* styles for nav */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

.nav-title {
    font-size: 32px;
}


/* styles for hero section */

.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #C6E4D6;
    padding: 80px 60px;
    border-radius: 24px;
    margin-bottom: 80px;
}

.hero-subtitle {
    color: rgba(14, 14, 14, 0.5);
    font-size: 24px;
    margin-bottom: 16px;
}

.hero-title {
    color: #0E0E0E;
    font-size: 56px;
    margin-bottom: 24px;
}

/* styles for pillars */

.pillars-section {
    margin-bottom: 80px;
}

.pillars {
    display: flex;
    gap: 24px;
}

.pillar {
    padding: 24px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: #ffffff;
}

.pillar-title,
.vision-title {
    margin-top: 25px;
    margin-bottom: 12px;
    font-size: 20px;
    color: rgba(14, 14, 14, 0.8);
}

.info-color {
    color: rgba(14, 14, 14, 0.7);
}

/* styles for vision */

.visions {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    margin-bottom: 32px;
}

.vision {
    padding: 32px;
    border-radius: 16px;
    max-width: 410px;
}

.vision-1 {
    background-color: rgba(84, 144, 245, 0.2);
}

.vision-2 {
    background-color: rgb(198, 228, 214);
}

.vision-3 {
    background-color: rgb(247, 235, 207);
}

.btn {
    margin-top: 48px;
}

.dr-yunus-speech {
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background-color: #ffffff;
    background-image: url(../assets/quote-bg.png);
    background-repeat: no-repeat;
    background-position: 2% 12%;
    padding: 48px 24px;
    
}

.speech-heading{
    margin-top: 12px;
    margin-bottom: 4px;
    font-size: 20px;
}

.recent-news{
    margin-top: 80px;
    
}

.news{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    gap: 32px;
    padding: 48px;
    border-radius: 24px;
    background: #ffffff;
    margin-bottom: 24px;

}

.news-img img{
    border-radius: 24px;
    object-fit: cover;
    width: 408px;
}
.news-2{
    flex-direction: row-reverse;
}

.news-title{
    font-size: 32px;
    margin-bottom: 12px;
}

.news-logo, .news-date{
    margin-bottom: 12px;
}

.news-info{
    margin-bottom: 32px;
}

.donate-section{
    padding: 88px;
}

.amounts{
    display: flex;
    justify-content: space-around;
}

.amount{
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background-color: #ffffff;
    padding: 40px;
    color: rgba(14, 14, 14, 0.8);
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 32px;
}

.amount-2{
    background-color: #C6E4D6;
}

.amount:hover{
    background-color: #006A50;
    color: #ffffff;
    cursor: pointer;
}

input[type="text"], input[type="email"]{
    width: 95%;
    padding: 20px 40px;
    text-align: center;
    font-size: 20px;
    color: rgba(14, 14, 14, 0.3);
    border: none;
    border-bottom: 1px solid rgba(14, 14, 14, 0.15);
    background-color: #ffffff;
}

.donate-input{
    margin-bottom: 32px;
}

.newsletter-section{
    background-color: #C6E4D6;
    padding: 80px 60px;
    border-radius: 24px;
    margin-bottom: 80px;
    
}

.newsletter{
    max-width: 750px;
    margin: 0 auto;
}

.newsletter-email{
    display: flex;
    margin-bottom: 25px;
}

.btn-newsletter{
    border-radius: 0 8px 8px 0;
}

input[type="email"]{
    border-radius: 8px 0px 0px 8px;;
}